<nav class="navbar navbar-dark bg-info">
    <div class="container">

        <a href="/" class="navbar-brand">My App</a>

        <ul class="nav navbar-nav">
            <li class="dropdown">

                <a id="games" class="dropdown-toggle" href="#" data-toggle="dropdown">Games <span class="caret"></span></a>

                <ul class="dropdown-menu" aria-labelledby="dropdown-options">
                    <li *ngFor="let game of games">
                        <a href="{{ game.slug }}">{{ game.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
